*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
.header{
    height: 80px;
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}
.logo{
    height: 70px;
    width: 200px;
    background-image: url(./icons/Bestell\ App-\ Logo.svg);
    background-size: contain;
    background-repeat: none;
    background-position: center;
}
.resturantlogo{
    height: 450px;
    width: 100%;
    background-image: url(./img/ai-generated-9010874_1280.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 18px;
    border-radius: 12px;
}
.content{
    min-height: 800px;
    width: 100%;
    padding-left: 18px;
    display: flex;
    flex-direction: row;
    padding-bottom: 2px;
}
.content-dishes{
    min-height: 800px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.dishes{
    height: 150px;
    width: 100%;
    border-radius: 16px;
    background-color: rgb(243, 231, 222);
    display: flex;
    justify-content: space-between;  
}
.dishes:hover{
    cursor: pointer;
    background-color: rgb(211, 164, 127);
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.flex-dishes{
    display: flex;
    justify-content: center;
}
.dishes-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.img-container{
    display: flex;

}
.dishes-img{
    height: 150px;
    width: 500px;
    object-fit: cover;
    border-radius: 16px;
}

.Shoppingcard{
    width: 500px;
    /*damit lässt sich die Position festlegen -->  height: calc(100vh - 160px);header footer*/
    background-color: rgba(255, 255, 255, 0.007);
    flex-grow: 1;
    border-color: black;   
}   
.shoppingcard-container{
    top: 10px;
    position: sticky;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.shoppingcard-head{
    display: flex;
    justify-content: space-between;
}
.shoppingcardBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.shoppingcard-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.fullShoppingcard{
    width: 380px;
    padding: 20px;
    
}
.order-container{
    width: 100%;
    min-height: 150px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    background-color: rgba(228, 185, 153, 0.767);
    margin-bottom: 5px;
}
.ingredients-info{
    padding-top: 5px;
    padding-bottom: 5px;
}
.pay-information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

span{
    display: flex;
}

.resturant-content{
    border-color: black;
    width: calc(100% -500px);
}
.resturant-info{
    height: 200px;
    width: 100%;
}
.centerPosition{
    padding-top: 20px;
    display: flex;
    text-align: center;
}
.emptyShoppingcard{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.extraIngredient-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.extra-ingredients{
    display: flex;
    padding-bottom: 12px;
    padding-left: 4px;
}
.content-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px;
}
.contentOverlay-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content-info{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
    h3{
        font-size: 18px;
    }
}
.summary{
    position: relative;
    flex: 1 0 auto;
    width: 100%;
    min-height: 200px;
    background-color: aqua;

}

footer{
    height: 80px;
    width: 100%;
    background-color: aqua;
}